html {
  background-color: #F3F3F3;
  text-align: center;
  height: 100%;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  min-height:100%;
  padding: 0;
  position: relative;
}

body::after{
  content: '';
  display: block;
  height: 120px;
}

h1 {
  padding: 30px;
  background-color: #008000;
  font-size: 100px;
  color: #F3F3F3;
  border-radius: 50%;
}

h2 {
  font-size: 30px;
  padding-top: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  margin: 25px;
}

nav a {
  color: black;
  border: #008000 1px solid;
  padding: 10px;
  margin-right: 40px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 7px 7px #008000;
}

a:hover {
  color: #008000;
  background-color: rgb(255,255,240);
}

label {
  font-size: 25px;
}

ul {
  list-style: none;
}

p {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  border-top: #008000 5px solid;
  font-size: 25px;
}

footer li {
  display: inline;
}
